<div class="container text-center">
    <h1>About Page</h1>
    <p>We are DevMatch. Our Company focuses on an Exclusive community
    developers and entrepreneurs to meet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus magnam ab neque mollitia vitae aperiam iure. Atque, laboriosam, provident, earum, temporibus ab quam aperiam itaque libero harum tenetur optio magni. </p>
</div>